.btn-fav {
	width: 32px;
	height: 32px;

	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 8px 16px -8px rgba(15, 15, 15, 0.12);

	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.2s ease-in;

	svg {
		fill: #6c7275;
	}

	&:hover {
		svg {
			fill: #a72525;
		}
	}
}
